<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>Usage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-segment [(ngModel)]="stat">
    <ion-segment-button value="CALENDAR">Calendar</ion-segment-button>
    <ion-segment-button value="WEEKDAY" (click)="showUsageData()">Weekdays</ion-segment-button>
    <ion-segment-button value="ALL" (click)="showUsageData()">All Days</ion-segment-button>
    <ion-segment-button value="WEEKEND" (click)="showUsageData()">Weekends</ion-segment-button>
  </ion-segment>
  <div *ngIf="stat === 'CALENDAR'">
    <ion-grid id="calendar">
      <ion-row no-margin no-padding>
        <ion-col col-1>
          <ion-icon name="arrow-dropleft" (click)="previousMonth()" class="next-prev"></ion-icon>
        </ion-col>
        <ion-label col-10>{{calendar.currMonth.format('MMM')}} {{calendar.currMonth.format('YYYY')}}</ion-label>
        <ion-col col-1>
          <ion-icon name="arrow-dropright" (click)="nextMonth()" class="next-prev"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col *ngFor="let day of calendar.weekdays" class="day-name">
          {{day}}
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let week of calendar.weeks">
        <ion-col *ngFor="let day of week" [ngClass]="setCalendarClass(day)" (click)="manageSpace(day)">
          {{day.getDate()}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="stat !== 'CALENDAR'">
    <canvas #piechart></canvas>
  </div>

</ion-content>
