<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header class="text-center">Personal information</ion-list-header>
    <ion-item (click)="updateName()">
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col class="text-left" [size]="5">Name</ion-col>
            <ion-col class="text-center" [size]="7"
                     *ngIf="person?.firstName || person?.lastName">
              {{person.firstName}} {{person?.lastName}}
            </ion-col>
            <ion-col class="text-center placeholder-profile" [size]="7"
                     *ngIf="!person?.firstName || !person?.lastName">
              <span>Tap here to edit</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col class="text-left" [size]="5">First Login</ion-col>
            <ion-col class="text-left" [size]="7">{{person?.getCreatedDateTime('ddd DD MMM, YYYY')}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col class="text-left" [size]="5">Last Parking Date</ion-col>
            <ion-col class="text-left" [size]="7"></ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
    <ion-item (click)="updateEmail()">
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col class="text-left" size="5">Email</ion-col>
            <ion-col class="text-center" size="7" *ngIf="person?.email">{{person?.email}}</ion-col>
            <ion-col class="text-center placeholder-profile" size="7" *ngIf="!person?.email">Tap here to Edit</ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
    <ion-item (click)="updatePassword()">
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col class="text-left" size="5">Password</ion-col>
            <ion-col class="text-center placeholder-profile" size="7">Tap here to Edit</ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header text-center>Company Information</ion-list-header>
    <ion-item>
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col class="text-left" size="4">Company</ion-col>
            <ion-col class="text-left" size="4">Tenure Start</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="text-center" size="4" *ngIf="person?.commuteDetails.companyName" (click)="updateCompany()">{{person?.commuteDetails.companyName}}</ion-col>
            <ion-col class="text-center" size="4" *ngIf="!person?.commuteDetails.companyName" (click)="updateCompany()">
              <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-col>
            <ion-col class="text-center" size="4">
              <ion-datetime displayFormat="DD MMM, YYYY" [(ngModel)]="tenureStart" doneText="Save" placeholder="Enter Start Date in Company" (ionChange)="updateTenureStartDate(tenureStart)"></ion-datetime>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header text-center>Commute Information</ion-list-header>
    <ion-item>
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col class="text-left" size="4">Vehicle</ion-col>
            <ion-col class="text-left" size="4">Company</ion-col>
            <ion-col class="text-left" size="4">Parking Spot</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="text-center" size="4" *ngIf="person?.commuteDetails.vehicle" (click)="updateVehicle()">{{person?.commuteDetails.vehicle}}</ion-col>
            <ion-col class="text-center" size="4" *ngIf="!person?.commuteDetails.vehicle" (click)="updateVehicle()">
              <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-col>
            <ion-col class="text-center" size="4" *ngIf="person?.commuteDetails.companyName" (click)="updateCompany()">{{person?.commuteDetails.companyName}}</ion-col>
            <ion-col class="text-center" size="4" *ngIf="!person?.commuteDetails.companyName" (click)="updateCompany()">
              <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-col>
            <ion-col class="text-center" size="4" *ngIf="person?.commuteDetails.parkingSpot" (click)="updateParkingSpot()">{{person?.commuteDetails.parkingSpot}}</ion-col>
            <ion-col class="text-center" size="4" *ngIf="!person?.commuteDetails.parkingSpot" (click)="updateParkingSpot()">
              <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
