ion-card.unassigned{
  background-color: lightblue;
  color: #383838;
  text-align: center;
  font-weight: bolder;
}
ion-card.assigned{
  background-color: darkseagreen;
  color: #383838;
  text-align: center;
  font-weight: bolder;
}

ion-card.add-space{
  background-color: dimgrey;
}

ion-icon.add-icon{
  font-size: x-large;
  color: ghostwhite;
}

ion-card.company-name{
  background-color: #488aff;
  color: ghostwhite;
  text-align: center;
  font-weight: bolder;
  font-size: larger;
}

