<ion-header>
  <ion-toolbar>
    <ion-title>Manage Parking Spot {{parkingSpot}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-searchbar [(ngModel)]="searchStr" (ionInput)="search()"></ion-searchbar>
      <ion-list>
        <ion-item>Current Assignment: {{currAssignedPerson.fullName}}</ion-item>
        <ion-item *ngFor="let person of people" (click)="selectPerson(person.id)" lines="full">
          {{person.lastName}}, {{person.firstName}}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
    <ion-button (click)="releaseSpace()" color="primary">Release Space</ion-button>
    <ion-button (click)="dismiss()">Close</ion-button>
</ion-content>
