// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.parking{
  background-color: lightgreen;
}
.free{
  background-color: lightslategrey;
}
.card{
  font-weight: bolder;
  font-size: larger;
}

.toast{
  text-align: center;
  font-weight: bold;
}
.toast-info {
  >div {
    background-color: lightblue !important;
  }
}
.toast-success {
  >div {
    background-color: lightgreen !important;
  }
}
.toast-error {
  >div {
    background-color: lightpink !important;
  }
}
